# Игнорировать виртуальное окружение
venv/
.env

# Игнорировать файлы базы данных SQLite
*.sqlite3
*.db

# Игнорировать кэш Python
__pycache__/
*.pyc

# Игнорировать статические файлы (если они генерируются автоматически)
staticfiles/
media/

# Игнорировать файлы IDE
.idea/
.vscode/